.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}
.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
}

.title.slide h2 {
  margin-top: 60px;
  font-size: 3.2em;
  line-height: 1.1;
}
.title.slide h2 i {
  margin: -.4em 0 0 -77px;
  font-size: 8em;
  font-weight: normal;
  position: absolute;
  opacity: .5;
}
.title.slide p.author {
  font-weight: bold;
}
.title.slide p.affiliation {
  font-size: .77em;
  font-style: normal !important;
  letter-spacing: -.66px;
}

.text.slide, .shower.full .text.slide.active {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-flow: row wrap;
  padding-bottom: 1em;
}

.text.slide p {
  letter-spacing: -.01em;
  font-size: 1.33em;
  line-height: 1.5;
  margin: .5em 0 .75em 40px;
  font-weight: bold;
  color: var(--accent);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child,
.slide ul + figure.cover.height.margin > :first-child {
  height: 75%;
}

.toc.slide ul {
  margin-left: 0;
}

cite {
  font-style: italic;
}

del {
  text-decoration: solid line-through var(--accent) 7%;
}

.faded {
  opacity: .2;
  filter: contrast(1.1);
}

#solid img {
  margin-top: 60px;
  height: 500px;
}
